<%= form_for([@question.experience, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :experience %><br />
    <% experience_array = Experience.all.map { |experience| [experience.name, experience.id] } %>
    <%= f.select :experience, options_for_select(experience_array) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
