<%= form_for([@rate.experience, @rate], :html => { :class => "form-horizontal" } ) do |f| %>
  <% if @rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rate %><br />
    <%= f.select :rate, options_for_select([['5 greate',7], ['awesome (5)',6], ['4 OK',5], ['4',4], ['not bad',3], ['2 bad',2], ['1 awful',1]]) %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.hidden_field :ip, value: request.remote_ip %>
   
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
