<p id="notice"><%= notice %></p>

<p>
  <b>Rate:</b>
  <%= @rate.rate %>
</p>

<p>
  <b>Ip:</b>
  <%= @rate.ip %>
</p>

<p>
  <b>Experience:</b>
  <%= @rate.experience %>
</p>


<%= link_to 'Edit', edit_experience_rate_path(@rate.experience, @rate) %> |
<%= link_to 'Back', experience_rates_path(@rate.experience) %>
